log_level: <error, warn, info, debug, trace>
web:
  port: <port number>
entra_id:
  tenants:
    - id: <tenant id>
      uri: <JWKs uri>
      issuer: https://login.microsoftonline.com/<tenant id>/v2.0
      audience: <audience>

  # キャッシュしたJWK公開鍵のTTL（秒）
  # 48時間 = 172800秒
  jwk_cache_ttl: 172800

  # 定期的にバックグラウンドですべてのテナントのJWK公開鍵をリフレッシュする間隔（秒）
  # 1時間 = 3600秒
  refresh_jwks_interval: 3600

  # kidを基にテナントのJWK公開鍵を得られなかったときに、そのテナントのJWK公開鍵が最後にリフレッシュされてから、
  # 次にリフレッシュするまでの最小時間（秒）
  # 5分 = 300秒
  refresh_tenant_jwks_interval: 300

  # Entra IDのJWKsエンドポイントに接続する際のタイムアウト（秒）
  connection_timeout: 3

  # Entra IDのJWKsエンドポイントからの応答を待つタイムアウト（秒）
  timeout: 10

  # Entra IDのJWKsエンドポイントからレスポンスが返ってくるまでリクエストする最大試行回数
  jwks_request_max_attempts: 2

  # Entra IDのJWKsエンドポイントに最初に再試行リクエストを送信するまでの待機する時間（ミリ秒）
  jwks_request_retry_initial_wait: 200

  # Entra IDのJWKsエンドポイントに再試行リクエストを送信するまでに待機する時間を増加させる乗数
  # 待機時間は、initial_wait * (multiplier ^ (attempt_number - 1))で計算される
  # 指数バックオフ
  jwks_request_retry_backoff_multiplier: 2.0

  # Entra IDのJWKsエンドポイントに再試行リクエストを送信するまでに待機する時間にランダムなジッターを場するときの最小値
  jwks_request_retry_wait_jitter_min: 0.8

  # Entra IDのJWKsエンドポイントに再試行リクエストを送信するまでに待機する時間にランダムなジッターを場するときの最大値
  jwks_request_retry_wait_jitter_max: 1.2

  # Entra IDのJWKsエンドポイントに再試行リクエストを送信するまでに待機する最大時間（秒）
  jwks_request_retry_max_wait: 60

# このアプリケーション用のクライアント資格情報
client_credentials:
  client_id: <client id>
  client_secret: <client secret>
